body {
    margin: 0;
    font-family: Fredoka;
    --main-color: rgb(255, 177, 177);
    font-size: large;
}

nav {
    background-color: var(--main-color);
}

nav img {
    height: 3rem;
    margin: 0.5rem;
}

nav a {
    float: right;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.title {
    padding: 1rem 2rem 0 2rem;
}

.padding0202 {
    padding: 0 2rem 0 2rem;
}

.mainContainer {
    display: flex;
    justify-content: center;
}

.card {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    width: 95%;
}

.imgContainer img{
    height: 200px;
}

.rightContainer {
    padding: 1rem 2rem 1rem 2rem;
    max-height: 200px;
}

.unidades {
    font-weight: bold;
}

footer {
    margin-top: 3rem;
    padding: 1rem 5rem 1rem 5rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.agotado img {
    filter: blur(3px) grayscale(90%);
}

input[type="button"] {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background-color: var(--main-color);
    font-family: Fredoka;
    font-size: large;
    margin: 0.3rem;
    padding: 0.5rem;
    color: rgb(95, 95, 95);
    border: solid var(--main-color) 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tableHeader {
    background-color: rgb(228, 228, 228);
    height: 3rem;
}

table th {
    text-align: left;
    border: none;
}

.thCenter {
    text-align: center;
}

footer img {
    height: 6rem;
}